<header class="sticky">
    <div class="enlaces-registro">
      <span class='icon-user'></span>
      <%=usuario.pseudonimo%> |
      <a href="/procesar-cerrar-sesion">Cerrar Sesion</a>
    </div>
    <a href="#" class="logo">Blog de Viajes</a>
    <a href="/" class="button"><span class="icon-home"></span> Inicio</a>
    <a href="/autores" class="button"><span class="icon-user"></span> Autores</a>
</header>
  