<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/estilos.css">
    <link rel="stylesheet" href="/stylesheets/mini-default.min.css">
    <script src="/javascripts/ckeditor5-build-classic/build/ckeditor.js"></script>
</head>
<body>
    <%-include ('./partials/encabezado_privado')%>
    <div class="container">
        <div class="row">
            <div class="col-sm-5">
                <form action='/procesar-agregar' method="POST">
                    <fieldset>
                        <legend>Datos de Publicacion</legend>
                        <div class="input-group vertical">
                            <label for = 'titulo'>Titulo   </label>
                            <input type='text' name='titulo' id='titulo'>
                        </div>
                        <div class="input-group vertical">
                            <label for = 'resumen'>Resumen</label>
                            <textarea type='textarea' name='resumen' id='resumen'></textarea>
                        </div>
                        <div class="input-group vertical">
                            <label for = 'contenido'>Contenido</label>
                            <textarea name='contenido' id="contenido"> </textarea>
                        </div>
                        <div class="col-sm-12">
                            <input class = 'Primary' type='submit' value='Continuar'>
                        </div>
                    </fieldset> 
                </form>
                <script>
                    ClassicEditor
                        .create( document.querySelector( '#contenido' ) )
                        .then( editor => {
                            window.editor = editor;
                        } )
                        .catch( error => {
                            console.error( 'There was a problem initializing the editor.', error );
                        } );
                </script>
            </div>
        </div>    
    </div>
    
   
</body>
</html>